@model LaptopVM


<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-3">
            <h1>Edit Laptop Data</h1>

            <form action="/Laptop/AddNewOrEditLaptop" method="post" enctype="multipart/form-data">

                <div>
                    Avatar: <input class="form-control" type="file" name="@nameof(LaptopVM.ImgFile)" />
                </div>
                <div>
                    BrandName: @Html.TextBoxFor(x => x.BrandName, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    ModelName: @Html.TextBoxFor(x => x.ModelName, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Price: @Html.TextBoxFor(x => x.Price, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Amount: @Html.TextBoxFor(x => x.Amount, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    CategoryName: @Html.TextBoxFor(x => x.Category.CategoryName, new { Class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Category.CategoryName)
                </div>
                <div>
                    Operation System: @Html.TextBoxFor(x => x.OperationalSystem, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Cpu: @Html.TextBoxFor(x => x.Cpu, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    RAM: @Html.TextBoxFor(x => x.Ram, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Core amount: @Html.TextBoxFor(x => x.CoreAmount, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    HDD: @Html.TextBoxFor(x => x.Hdd, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Color: @Html.TextBoxFor(x => x.Color, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    SSD: @Html.TextBoxFor(x => x.Ssd, new { Class = "form-control", @required = "required" })
                </div>

                <div class="topMargin20 bottomMargin50">
                    <input class="btn btn-primary" type="submit" value="Save Changes" />
                </div>
            </form>
        </div>
    </div>
</div>
