@model MonitorVM


<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-3">
            <h1>Edit Monitor Data</h1>

            <form action="/Monitor/AddNewOrEditMonitor" method="post" enctype="multipart/form-data">

                <div>
                    Avatar: <input class="form-control" type="file" name="@nameof(MonitorVM.ImgFile)" />
                </div>
                <div>
                    BrandName: @Html.TextBoxFor(x => x.BrandName, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    ModelName: @Html.TextBoxFor(x => x.ModelName, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Price: @Html.TextBoxFor(x => x.Price, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Amount: @Html.TextBoxFor(x => x.Amount, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    CategoryName: @Html.TextBoxFor(x => x.Category.CategoryName, new { Class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Category.CategoryName)
                </div>
                <div>
                    Keys Amount: @Html.TextBoxFor(x => x.MonitorcInterface, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Keys Amount: @Html.TextBoxFor(x => x.DisplayDiagonal, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Keys Amount: @Html.TextBoxFor(x => x.DisplayResolution, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Connection Type: @Html.TextBoxFor(x => x.PowerConsumption, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Dimension: @Html.TextBoxFor(x => x.Dimension, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Key Type: @Html.TextBoxFor(x => x.Frequency, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Color: @Html.TextBoxFor(x => x.Color, new { Class = "form-control", @required = "required" })
                </div>

                <div class="topMargin20 bottomMargin50">
                    <input class="btn btn-primary" type="submit" value="Save Changes" />
                </div>
            </form>
        </div>
    </div>
</div>
