@model E_WaveStore.Models.ViewModels.ProductVM


<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-3">
            <h1>Edit Product Data</h1>

            <form action="/Product/EditProductAsync" method="post" enctype="multipart/form-data">
                <div>
                    @Html.HiddenFor(model => model.Id)
                </div>
                <div>
                    @Html.HiddenFor(model => model.ImgUrl)
                </div>
                <img src=@(Model.ImgUrl == null ? "" : $"{Model.ImgUrl}") class="card-img-top" style="width:100px;">
                <div>
                    Avatar: <input class="form-control" type="file" name="@nameof(KeyboardVM.ImgFile)" />
                </div>
                <div>
                    BrandName: @Html.TextBoxFor(x => x.BrandName, new { @Value = Model.BrandName, @readonly = true, Class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BrandName)
                </div>
                <div>
                    ModelName: @Html.TextBoxFor(x => x.ModelName, new { @Value = Model.ModelName, Class = "form-control" })
                </div>
                <div>
                    Price: @Html.TextBoxFor(x => x.Price, new { @Value = Model.Price, Class = "form-control" })
                </div>
                <div>
                    Amount: @Html.TextBoxFor(x => x.Amount, new { @Value = Model.Amount, Class = "form-control" })
                </div>
                @* <div>
                        CategoryName: @Html.TextBoxFor(x => x.CategoryVM.CategoryName, new { @Value = Model.CategoryVM.CategoryName, @readonly = true, Class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CategoryVM.CategoryName)
                    </div>*@
                <div>
                    Specification: @Html.TextBoxFor(x => x.Specification, new { @Value = Model.Specification, Class = "form-control" })
                </div>

                <div class="topMargin20 bottomMargin50">
                    <input class="btn btn-primary" type="submit" value="Save Changes" />
                </div>
            </form>
        </div>
    </div>
</div>