@model SmartWatchVM


<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-3">
            <h1>Edit SmartWatch Data</h1>

            <form action="/SmartWatch/AddNewOrEditSmartWatch" method="post" enctype="multipart/form-data">

                <div>
                    Avatar: <input class="form-control" type="file" name="@nameof(SmartWatchVM.ImgFile)" />
                </div>
                <div>
                    BrandName: @Html.TextBoxFor(x => x.BrandName, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    ModelName: @Html.TextBoxFor(x => x.ModelName, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Price: @Html.TextBoxFor(x => x.Price, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Amount: @Html.TextBoxFor(x => x.Amount, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    CategoryName: @Html.TextBoxFor(x => x.Category.CategoryName, new { Class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Category.CategoryName)
                </div>


                <div>
                    BraceletMaterial : @Html.TextBoxFor(x => x.BraceletMaterial, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    BodyMaterial : @Html.TextBoxFor(x => x.BodyMaterial, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Wifi : @Html.TextBoxFor(x => x.Wifi, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Bluetooth : @Html.TextBoxFor(x => x.Bluetooth, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Sensor : @Html.TextBoxFor(x => x.Sensor, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Weight: @Html.TextBoxFor(x => x.Weight, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Color: @Html.TextBoxFor(x => x.Color, new { Class = "form-control", @required = "required" })
                </div>

                <div class="topMargin20 bottomMargin50">
                    <input class="btn btn-primary" type="submit" value="Save Changes" />
                </div>
            </form>
        </div>
    </div>
</div>
